#modal {
    position: fixed;
    width: 100vw;
    height: auto;
}

#about-me{
    height: 100vh;
}

.stars{
    width: 100vw;
    height: 95vh;
    padding: 5%;
}

.star {
    /* absolute */
    position: relative;
    width: 75px; 
    height: 75px; 
    z-index: 1;
    animation: pulse 2.5s linear infinite;
}

.star:hover {
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
}

.tooltip:hover {
    visibility: visible;
}

@keyframes pulse {
    0% { opacity: 0.45; }
    50% { opacity: 5; }
    100% { opacity: 0.45; }
}
#tv-shows {
    /* top: 50%;
    right: 55%; */
    top: 20%;
    left: 79%;
}
#games {
    top: 73%;
    left: 45%;
    animation-delay: .75s;
}
#projects {
    top: 40%;
    left: 8%;
    animation-delay: 1.5s;
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */